@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body{
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color:#505962;
}


.offset:before{
    display:block;
    content:"";
    height:4.5rem;
    margin-top: -4.5rem;
}

/* NAVIGATION */
.navbar{
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0,0,0,0.6) !important;
}

.navbar-brand img{
    height:3rem;
    margin-left:.5rem;
    margin-right: -.5rem;
}

.navbar-nav li{
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link{
    color:white;
    padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color:#1cb9f7;
}

/* LANDING PAGE */

.home-inner{
    background-image: url(images/backgroundComputer.png);
}

.caption{
    width:100%;
    max-width:100%;
    position: absolute;
    top: 38%;
    z-index:1;
    color:white;
    text-transform:uppercase;
}

.caption h1{
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}

.caption h3{
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
}

.contact-logo{
    max-width: 100%;
    height:auto;
    width:40%;
}

/* FEATURES CSS */

.jumbotron{
    margin-bottom: 0;
    padding: 2rem 0 3.5rem;
    border-radius: 0;
    height: calc(100vh - 75px);
}

h3.heading{
    font-size: 1.9rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.9rem;
}

.heading-underline{
    width: 3rem;
    height:.2rem;
    background-color: #1cb9f7;
    margin: 0 auto 2rem;
}

.mid-jumbo{
    background-color: rgb(202, 202, 202);
}

.myImage{
    width: 40%;
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .myImage {
      width: 40%;
    }
  }


